{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'poc/materialize/css/materialize.min.css' %}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Import thepage.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'poc/css/login.css' %}">
    </head>
    
    <body>
        <header>
            {% block navbar %}
            {% include 'poc/component-navbar.html' %}
            {% endblock %}
        </header>
        <div class="row" id="row-login">
            <form class="col s10 m4 offset-m7 offset-s1" id="form-login" method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s6">
                        {{ profile_form.first_name }}
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        {{ profile_form.last_name }}
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.username }}
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ profile_form.email }}
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.password1 }}
                        <label for="password1">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.password2 }}
                        <label for="password2">Confirm Password</label>
                    </div>
                </div>
                <input class="btn" type="submit" value="Register">
            </form>
        </div>
        <footer>
            <!--JavaScript at end of body for optimized loading-->
            <script type="text/javascript" src="{% static 'poc/jquery/jquery-3.4.0.js' %}"></script>
            <script type="text/javascript" src="{% static 'poc/materialize/js/materialize.min.js' %}"></script>
            <script>
                $(document).ready(function(){
                    $('.sidenav').sidenav();
                    $('#login').attr('class', 'waves-effect waves-light btn-small');
                    $('#login').css('background-color', 'rgb(120, 50, 60)')
            
                });
            </script>
        </footer>
    </body>
    
</html>
