/* Codemirror Output */
.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: auto;
    color: white !important;
    direction: ltr;
}

#output-box {
    padding: 0 2rem !important;
}
