/* Codemirror */
.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: auto;
    color: white;
    direction: ltr;
    background-color: transparent !important;
}
.CodeMirror-linenumbers {
    background-color: rgb(31, 30, 46);
}
.CodeMirror-linenumber {
    color: rgb(116, 116, 123) !important;
}
