/* Codemirror Flags */
.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    color: white !important;
    direction: ltr;
}

#compiler-flags {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}