/* General */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    /* Light Mode */
    background-color: rgb(235, 235, 235);
    color: rgb(30, 30, 30);
    /* Dark Mode */
    /* background-color: rgb(31, 30, 46); */
    /* color: rgb(235, 235, 235); */
}

ul.dropdown-content.select-dropdown li span {
    color: black; /* no need for !important :) */
}

input.select-dropdown.dropdown-trigger {
    color: white;
}

/* Navbar (override) */
#navbar {
    background-color: rgb(20, 20, 30);
    /* box-shadow: 0 0 10px -4px black !important; */
}
/* Classes */
/* .brand-logo {
    color: #846C63 !important;
}
.brown-color {
    color: #846C63 !important;
}
.black-color {
    color: #FFAB40 !important;
}
.brown-bg-color {
    background-color: #846C63 !important;
} */

.broncode-dark-color {
    background-color: rgb(20, 20, 30);
}
.broncode-light-color {
    background-color: rgb(220, 220, 220);
}
.collapsible-header {
    position: relative;
    right: 0;
}
.collapsible-secondary {
    position: absolute;
    right: 0;
}
.collapsible-ternary {
    position: absolute;
    right: 40px;
}
.carousel .carousel-item{
  width:100%;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container {
      width: 85%;
    }
}
@media only screen and (min-width: 993px) {
    .container {
      width: 80%;
    }
}


/* IDs */
/* #tabs-creation {
    padding: 0;
}
#tab-double-col {
    height:100%;
}*/
#compiler-flags-create-wrapper {
    /* background-color: rgb(31, 30, 46) !important; */
    padding: 0;
}
#codemirror-create-wrapper {
    background-color: rgb(31, 30, 46) !important;
    padding: 0;
}
#lesson-create-wrapper {
    padding: 1rem;
    border-radius: 1.5px;
}
#double-col {
    padding-top: 1rem;
    margin-bottom: 0;
}
#textarea-markdown-wrapper {
    max-height: 150vh;
    overflow: hidden;
}
#textarea-markdown {
    min-height: 55vh;
    max-height: 150vh;
    overflow-y: auto;
    
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    border-bottom: none!important;
}
#preview-markdown {
    min-height: 60vh;
    max-height: 150vh;
    overflow-y: auto;
    /* border-left: thin solid black; */
    box-shadow: -5px 0px 2px -5px rgb(150, 150, 150);
}
#form-markdown {
    height: 100%;
    overflow-y: auto;
}
