/* General */
html, body {
    margin: 0;
    padding: 0;
    background-color: #F6F4F1;
}

/* Navbar (override) */
#navbar {
    background-color: #FFF;
    /* box-shadow: 0 0 10px -4px black !important; */
}

/* Classes */
.brand-logo {
    color: #846C63 !important;
}
.brown-color {
    color: #846C63 !important;
}
.black-color {
    color: #FFAB40 !important;
}
.brown-bg-color {
    background-color: #846C63 !important;
}
.collapsible-header {
    position: relative;
    right: 0;
}
.collapsible-secondary {
    position: absolute;
    right: 0;
}
.collapsible-ternary {
    position: absolute;
    right: 40px;
}
.carousel .carousel-item{
  width:100%;
}

/* IDs */
#tabs-creation {
    padding: 0;
}

#preview-markdown {
    overflow-y: auto;
}
#form-markdown {
    overflow-y: auto;
}
#row-textarea {
    overflow-y: auto;
}