/* General */
body {
    background: url("../images/homepage.jpg") #141414;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar (override) */
#navbar {
    background-color: transparent;
    box-shadow: none;
}
