/* fonts */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Open+Sans|Cabin&display=swap');

/* General */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Classes */
.row {
    margin: 0;
    padding: 0;
}
/* IDs */
#major-row {
    margin: 0;
    padding: 0;
}
#markdown-content {
    min-height: 90vh;
    max-height: 90vh;
    background-color: rgb(235, 235, 235);
    overflow: hidden;
    overflow-y: scroll;
}

#compiler-and-flags-col {
}
#compiler-and-flags-row {
}
#major-form {
}
#label-command-line-flags {
    
}
#compiler-flags-wrapper {
    height: 5vh;
    background-color: rgb(20, 20, 30);
    /* padding: 0 1rem; */
    margin: 0;
}
#codemirror-wrapper {
    min-height: 75vh;
    max-height: 75vh;
    background-color: rgb(31, 30, 46);
    padding: 0;
}
#stdin-wrapper {
    height: 5vh;
    background-color: rgb(20, 20, 30);
}
#btn-submit-wrapper {
    min-height: 5vh;
    max-height: 5vh;
    background-color: rgb(31, 30, 46);
}
#btn-submit {
    float: right;
    box-shadow: none;
}
#results {
    min-height: 90vh;
    max-height: 90vh;
    background-color: rgb(17, 16, 24);
    padding: 0;
    margin: 0;
    color: white;
    overflow-y: auto;
}
#output-box {
    font-family: 'IBM Plex Mono', monospace;
    padding: 0 2rem !important;
    white-space: pre-wrap;
}

/* Navbar (override) */
#navbar {
    background-color: rgb(20, 20, 30);
}
