/* CSS that renders the markdown in the instructions section of the tutorial page */

/* fonts */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Open+Sans|Cabin&display=swap');
/*
{
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: white;
}*/

a {
  color: #4183C4;
}

a.absent {
  color: #cc0000;
}

a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}


h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

/*Modified the table to be more inline with github*/
table {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #DFE2E5;
  background-color: #FFFFFF;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #DFE2E5;
  padding: 0.5vh 1vw;
}

table tbody td {
  font-size: 16px;
  color: #24292E;
}

table tr:nth-child(even) {
  background: #F6F8FA;
}

table thead {
  background: #FFFFFF;
}

table thead th {
  font-size: 16px;
  font-weight: bold;
  color: #24292E;
  text-align: center;
}

table tfoot td {
  font-size: 21px;
}

/*Modified the table to be more inline with github*/

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}


pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

pre code, pre tt {
  background-color: transparent;
  border: none;
}

