/* General */
html {
    min-height: 100%; /* needed to make the background fit on mac */
}

body {
    min-height: 100%; /* needed to make the background fit on mac */
    background-image: url("../images/login-5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/* Navbar (override) */
#navbar {
    background-color: transparent;
    box-shadow: none;
}

/* Classes */
/* .input-field [type=text] {
    border-bottom: 1px solid white !important;
} */
.input-field [type=text] {
    color: white;
}
.input-field [type=email] {
    color: white;
}
.input-field [type=password] {
    color: white;
}
.row {
    margin: 0;
    padding-top: 0;
}
.errorlist {
    color: red;
}
.error-container {
    padding: 0;
}

/* IDs */
#row-register {
    padding: 2rem 0 0 0;
}
#form-register {
    padding: 2rem;  
}
#form-register-errors {
    color: red;
}