<!--To be put in a form-->
{% block hiddentests %}
    {% load static %}
    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" href="{% static 'poc/css/component-hiddentests.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'poc/css/component-testinputrow.css' %}">

    <label id="label-hidden-tests">Automated Tests<br>
    </label>
    <div class="valign-wrapper">
        <div class="btn right-align" id="btn-hidden-test-add">
            <span>Add Test Case</span>
        </div>
    </div>
    {% for test in test_cases %}
    <div class="row testinputrow valign-wrapper" id="test_row_{{ test.id }}">
        <div class="col s3 input-field">
            <input value="{{ test.stdin }}" type="text" id="command_line_{{ test.id }}">
            <label for="command_line_{{ test.id }}">Input (Optional)</label>
        </div>
        <div class="col s3 input-field">
            <input value="{{ test.stdout }}" type="text" id="expected_{{ test.id }}" class="testcase-input-output"> 
            <label for="expected_{{ test.id }}">Expected Output</label>
        </div>
        <div class="col s3 input-field">
            <input value="{{ test.hint }}" type="text" id="hint_{{ test.id }}">
            <label for="hint_{{ test.id }}">Hint (Optional)</label>
        </div>
        <div class="col s3 testinputdeletecol">
            <div class="btn center-align testinputdeletebtn">
            <span>remove</span>
            </div>
        </div>
        <input type="hidden" id="number_{{ test.id }}" value="{{ test.number }}">
    </div>
    {% endfor %}

{% endblock %}