{% block instructions %}
{% load static %}
	<script type="text/javascript" src="{% static 'poc/js/showdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'poc/js/rendermarkdownfile.js' %}"></script>
	
    <script type="text/css" rel="stylesheet" src="{% static 'poc/katex/katex.min.css' %}"></script>
    <script type="text/javascript" src="{% static 'poc/katex/katex.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'poc/js/renderkatex.js' %}"></script>

	<div id="instructions">{{ lesson_text }}</div> <!-- needs to be one line! -->
	<script>
        $(document).ready(renderMarkdown("#instructions"))
		$(document).ready(renderKatex())
	</script>
{% endblock %}
