<!-- This file serves as a reference and is not actually rendered -->
<!-- The rendering of this block happens in component-hiddentests.html -->
{% block testinputrow %}
    {% load static %}

    <div class="row testinputrow">
        <div class="col s3 input-field" id="1">
            <input placeholder="" type="text">
            <label for="1">Input (Optional)</label>
        </div>
        <div class="col s3 input-field" id="2">
            <input placeholder="" type="text">
            <label for="2">Expected Output</label>
        </div>
        <div class="col s3 input-field" id="3">
            <input placeholder="" type="text">
            <label for="3">Hint (Optional)</label>
        </div>
        <div class="col s3 testinputdeletecol">
            <div class="valign-wrapper center-align" >
                <div class="btn testinputdeletebtn">
                    <span>remove</span>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}