{% block navbar %}
    {% load static %}
    <!-- import css stylesheet for navbar -->
    <link type="text/css" rel="stylesheet" href="{% static 'poc/css/component-navbar.css' %}">

    <!-- Code of navbar -->
    <nav id="navbar">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Broncode</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li id="navbar-username">Hello, {{ user.username }}!</li>
                <li><a class="waves-effect waves-light btn-small deep-purple darken-3" id="login" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a class="waves-effect waves-light btn-small" id="signup" href="{% url 'register' %}">New user?</a></li>
                <li><a class="waves-effect waves-light btn-small deep-purple darken-3" id="login" href="{% url 'login' %}">Login</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        {% if user.is_authenticated %}
            <li id="navbar-username">Hello, {{ user.username }}!</li>
            <li><a class="waves-effect waves-light btn-small deep-purple darken-3" id="login" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a class="waves-effect waves-light" id="signup" href="{% url 'register' %}">New user?</a></li>
            <li><a class="waves-effect waves-light btn-small deep-purple darken-3" id="login" href="{% url 'login' %}">Login</a></li>
        {% endif %}   
    </ul>
{% endblock %}
