{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'poc/materialize/css/materialize.min.css' %}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Import thepage.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'poc/css/lesson-list.css' %}">

        <!-- Jquery -->
        <script type="text/javascript" src="{% static 'poc/jquery/jquery-3.4.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'poc/js/showdown.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'poc/js/rendermarkdownfile.js' %}"></script>
            
    </head>
    
    <body>
        <header>
            {% block navbar %}
            {% include 'poc/component-navbar.html' %}
            {% endblock %}
        </header>

        <!-- Row -->
        <div class="row container" id="courses-row">
            <div class="col s12">
                <h1 class="brown-color">Lessons</h1>
            </div>
            {% if lessons %}
                <div class="col s12">
                <ul class="collection">
                {% for lesson in lessons %}
                    <li class="collection-item">
                        <div>
                            {{ lesson.title }}
                            <a href="{% url 'lesson' course_id=course_id lesson_number=lesson.number %}" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
                            {% if user.is_staff %}    
                                <a href="#!" class="secondary-content"><i class="material-icons">mode_edit</i></a>
                                <a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
                            {% endif %}
                        </div>
                    </li>
                    {% comment %} <a href="{% url 'lesson' course_id=course_id lesson_number=lesson.number %}" class="collection-item">{{ lesson.title }}</a> {% endcomment %}
                {% endfor %}
                </ul>
            </div>
            {% else %}
                <div class="col s12">
                    Lessons coming soon!
                </div>
            {% endif %}
        </div>

        {% if user.is_staff %}
            <!-- Floating Action Button -->
            <div class="fixed-action-btn">
                <a class="waves-effect waves-light btn-floating btn-large red" href="{% url 'create_lesson' course_id=course_id %}">
                    <i class="large material-icons">add</i>
                </a>
            </div>
        {% endif %}
        <footer>
            <!--JavaScript at end of body for optimized loading-->
            <script type="text/javascript" src="{% static 'poc/materialize/js/materialize.min.js' %}"></script>
            <script>
                $(document).ready(function(){
                    $('.sidenav').sidenav();
                    // $('#login').attr('class', 'waves-effect waves-light btn-small brown');
                    // $('#navbar-username').css("color", "rgb(132,108,99)");

                    // List collapsible fuction
                    $('.collapsible').collapsible();

                    // Render markdown in the collapsible
                    renderMarkdownClass(".markdown-content");

                    // Floating Action Button
                    $('.fixed-action-btn').floatingActionButton();
                });
            </script>
        </footer>
    </body>
    
</html>