{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'poc/materialize/css/materialize.min.css' %}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Import thepage.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'poc/css/main.css' %}">
    </head>
    
    <body>
        <header>
            {% block navbar %}
            {% include 'poc/component-navbar.html' %}
            {% endblock %}
        </header>

        <!-- First Row -->
        <div class="row" id="courses-row">
            <div class="col s12">
                <h1 class="brown-color">Courses</h1>
            </div>
            {% for course in courses %}
                <div class="col s12 m6 l4">
                    <div class="card small blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ course.title }}</span>
                            <p>Learn python from 0 to 100!</p>
                        </div>
                        <div class="card-action">
                            <a href="/poc/tutorial">Tutorial</a>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'mainpage' %}">Create</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col s12 m6 l4">
                <div class="card small blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Python</span>
                        <p>Learn python from 0 to 100!</p>
                    </div>
                    <div class="card-action">
                        <a href="/poc/tutorial">Tutorial</a>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'mainpage' %}">Create</a>
                    </div>
                </div>
            </div>            
        </div>
        <footer>
            <!--JavaScript at end of body for optimized loading-->
            <script type="text/javascript" src="{% static 'poc/jquery/jquery-3.4.0.js' %}"></script>
            <script type="text/javascript" src="{% static 'poc/materialize/js/materialize.min.js' %}"></script>
            <script>
                $(document).ready(function(){
                    $('.sidenav').sidenav();
                    $('#login').attr('class', 'waves-effect waves-light btn-small brown');
                });
            </script>
        </footer>
    </body>
    
</html>