{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'poc/materialize/css/materialize.min.css' %}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Import thepage.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'poc/css/tutorial.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'poc/css/markdown.css' %}">

        <script type="text/javascript" src="{% static 'poc/jquery/jquery-3.4.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'poc/materialize/js/materialize.min.js' %}"></script>
    </head>
    
    <body>
        <header>
            {% block navbar %}
            {% include 'poc/component-navbar.html' %}
            {% endblock navbar %}
        </header>
        <!--A page of one major row-->
        <div class="row" id="major-row">
            <!--Column for instructions on the left-->
            <div class="col s12 l4" id="markdown-content">
                {% block instructions %}
                {% include 'poc/component-instructions.html' %}
                {% endblock instructions %}
            </div>
            <!--Column for both the the compilerflags and codemirror-->
            <div class="col s12 l4" id="compiler-and-flags-col">
                <!--A row to hold the compilerflags and codemirror-->
                <div class="row" id="compiler-and-flags-row">
                    <!--Start of form-->
                    <form action="" method="post" id="major-form">
                        {% csrf_token %}
                        <!--Column for compilerflags-->
                        <div class="col s12" id="compiler-flags-wrapper">
                            {% block compilerFlags%}
                            {% include 'poc/component-flags.html' %}
                            {% endblock compilerFlags %}
                        </div>
                        <!--Column for codemirror-->
                        <div class="col s12" id="codemirror-wrapper">
                            {% block codemirror %}
                            {% include 'poc/component-codemirror.html' %}
                            {% endblock codemirror %}
                        </div>
                        <div class="col s12" id="btn-submit-wrapper">
                            <button class="btn waves-effect waves-light" type="button" id="btn-reset" name="action" onclick="resetExampleCode()">Reset Code
                                <i class="material-icons right">cached</i>
                            </button>
                            <button class="btn waves-effect waves-light" type="submit" id="btn-submit" name="action">Submit Code
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!--Column for the results put on the far right-->
            <div class="col s12 l4" id="results">
                {% block results %}
                {% include 'poc/component-output.html' %}
                {% endblock results %}
            </div>
        </div> 
        <footer>
            <script>
                $(document).ready(function(){
                    $('.sidenav').sidenav();
                });
            </script>
        </footer>
    </body>
    <script src="{% static 'poc/js/cmAjax.js' %}"></script>
    <script>loadDynamicData({{ profile.id }}, {{ lesson_id }});</script>
</html>
